// required plugins
// https://nextflow-io.github.io/nf-schema/latest/#quick-start
plugins {
  id 'nf-schema@2.1.1'
}

// define parameters
params.source_host = "mysql-ens-sta-6"
params.source_port = "4695"
params.target_host = "mysql-ens-core-prod-1"
params.target_port = "4524"
params.db_list = "capra_hircus_core_110_1"
params.user = "nwillhoft"
params.email = "nwillhoft@ebi.ac.uk"
params.target_path = "${launchDir}/zip"
params.drop_db = false

// https://nextflow-io.github.io/nf-schema/latest/configuration/configuration/#help
validation.help.enabled = true // default: false

// enable the creation of the help message
// https://nextflow-io.github.io/nf-schema/latest/#quick-start
validation {
  help {
    enabled: true
  }
}