requests>=2.25.0,<3
pydantic~=1.10.5
ensembl-py>=3.0.0
ensembl-utils>=0.4.4
git+https://github.com/Ensembl/ensembl-metadata-api.git@3.0.1#egg=ensembl-metadata-api
wget>=3.2
unidecode>=1.4.0
biopython>=1.85
