// See the NOTICE file distributed with this work for additional information
// regarding copyright ownership.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

//global setting vars

workDir = "$NOBACKUP_DIR/nextflow/work/release_$ENS_VERSION/"
nextflow.enable.dsl=2
publishDir   = "$NOBACKUP_DIR/nextflow/outputs/$USER/"
params.pipeline_dir = "$BASE_DIR/$USER/ensembl-hive/scripts/"
params.help = false

params {

    species           = "''"
    division          = "''"
    antispecies       = "''"
    run_all           = 1
    meta_filters      = "''"
    dbname            = "''"
    group             = 'core'
    pipeline_dir      = "$BASE_DIR/ensembl-hive/scripts/"
    help              = false
    release           = "$ENS_VERSION"
    output            = "$NOBACKUP_DIR/nextflow/work/release_$ENS_VERSION"
    nf_py_script_path = "$BASE_DIR/ensembl-production/nextflow/nf-py-scripts/"
}


profiles {

    lsf {

        process.executor = 'lsf'
	process.scratch = "$NOBACKUP_DIR/nextflow/scratch"
	process.log = "$NOBACKUP_DIR/nextflow/logs/release_$ENS_VERSION/production.log"
        process.queue = 'production'
    }

    slurm {
      process {
        withLabel: mem2GB_H {
              memory = 2.GB
              time = '1h'
        }
          withLabel: mem2GB_D {
              memory = 2.GB
              time = '1d'
          }
          withLabel: mem2GB_W {
              memory = 2.GB
              time = '7d'
          }
        withLabel: mem4GB_H {
              memory = 4.GB
              time = '1h'
        }
          withLabel: mem4GB_D {
              memory = 4.GB
              time = '1d'
          }
          withLabel: mem4GB_W {
              memory = 4.GB
              time = '7d'
          }
        withLabel: mem8GB_H {
              memory = 8.GB
              time = '1h'
        }
          withLabel: mem8GB_D {
              memory = 8.GB
              time = '1d'
          }
          withLabel: mem8GB_W {
              memory = 8.GB
              time = '7d'
          }
        withLabel: mem16GB_H {
              memory = 16.GB
              time = '1h'
        }
        withLabel: mem16GB_D {
            memory = 16.GB
            time = '1d'
        }
        withLabel: mem16GB_W {
            memory = 16.GB
            time = '7d'
        }
        withLabel: mem32GB_H {
            memory = 32.GB
            time = '1h'
        }
        withLabel: mem32GB_D {
            memory = 32.GB
            time = '1d'
        }
        withLabel: mem32GB_W {
            memory = 32.GB
            time = '7d'
        }
        withLabel: mem64GB_H {
            memory = 64.GB
            time = '1h'
        }
        withLabel: mem64GB_D {
            memory = 64.GB
            time = '1d'
        }
        withLabel: mem64GB_W {
            memory = 64.GB
            time = '7d'
        }
        withLabel: mem128GB_H {
            memory = 128.GB
            time = '1h'
        }
        withLabel: mem128GB_D {
            memory = 128.GB
            time = '1d'
        }
        withLabel: mem128GB_W {
            memory = 128.GB
            time = '7d'
        }
        withLabel: mem256GB_H {
            memory = 256.GB
            time = '1h'
        }
        withLabel: mem256GB_D {
            memory = 256.GB
            time = '1d'
        }
        withLabel: mem256GB_W {
            memory = 256.GB
            time = '7d'
        }


        executor = 'slurm'
        scratch = "$NOBACKUP_DIR/nextflow/scratch"
        log = "$NOBACKUP_DIR/nextflow/logs/release_$ENS_VERSION/production.log"
     }
      
      }

	local {
		    process.executor = 'local'
          process.log = '$NOBACKUP_DIR/nextflow/logs/local.log' 
        }

        k8s {
	        process.executor = 'k8s'
	        container = 'busybox:latest'
	        containerOptions = '--volume /data/db:/db'
	        storageClaimName = 'vol-claim-nexflow-production'
	        storageMountPath = '/workflow'
	        storageSubPath = '/production'
	        namespace = "ensprod-nexflow"
	        env.KUBECONFIG = param.kubeconfig
	}

}
