/*
  Nexflow Base config file for Production Workflows
 */

//container config
docker.enabled = false
singularity.enabled = false

//process configs
process {

    executor = 'lsf'
    queue = 'production'
    maxRetries = '3'

    withLabel: default_process {
        memory = 2.GB
    }

    withLabel: mem4GB {
        memory = 4.GB
    }

    withLabel: mem8GB {
        memory = 8.GB
    }

    withLabel: mem16GB {
        memory = 16.GB
    }

    withLabel: mem32GB {
        memory = 32.GB
    }

    withLabel: mem64GB {
        memory = 64.GB
    }

    withLabel: mem128GB {
        memory = 128.GB
    }

    withLabel: mem256GB {
        memory = 256.GB
    }
    withLabel: dm {
        queue = 'datamover'
    }

}
