/*
  Nexflow Base config file for Production Workflows
 */

//container config
docker.enabled = false
singularity.enabled = false

//process configs
process {
    executor = 'slurm'
    maxRetries = '3'
    time = '1d'
    queue = 'standard'
    withLabel: 'default_retry' {
      cpus = { 2 * task.attempt }
      time = { 1.hour * task.attempt }
      memory = { 1.GB * Math.pow(2, (task.attempt - 1)) }
      errorStrategy = { task.exitStatus in [104, 137, 140, 143] ? 'retry' : 'finish' }
      maxRetries = 3
    }
    withLabel: default_process {
      memory = 2.GB
    }
    withLabel: mem4GB {
      memory = 4.GB
    }
    withLabel: mem8GB {
      memory = 8.GB
    }
    withLabel: mem16GB {
      memory = 16.GB
    }
    withLabel: mem32GB {
      memory = 32.GB
    }
    withLabel: mem64GB {
      memory = 64.GB
    }
    withLabel: mem128GB {
      memory = 128.GB
    }
    withLabel: mem256GB {
      memory = 256.GB
    }
    withLabel: dm {
      queue = 'datamover'
    }
}