includeConfig './production.config'

params {
    source          = '/your/source/directory'
    destination     = '/your/destination/directory'
    file_format     = 'vcf'

    email_recipient = 'bilal@ebi.ac.uk'
    // Set this to 'no' if you don't want to send emails
    send_email      = 'yes'
}
