includeConfig "production.config"

//global variables for thoas
manifest {
  name            = 'ensembl-production/nextflow/workflow'  
  author          = """vinay kaikala"""
  homePage        = 'https://github.com/Ensembl/ensembl-production'
  description     = """GeneSearch JSON Dumps For Solr"""
  mainScript      = 'genesearchsoler.nf'
  nextflowVersion = '>=22.04.5'
  version         = '1.0.0'
  doi             = ''
}

params {
  debug                 = true
  release               = "${ENS_VERSION}"
  solr_data_location    = "${NOBACKUP_DIR}/ensembl_dumps/web/solr"
  base_data_path        = "${NOBACKUP_DIR}/ensembl_dumps/search/"
  // genome factory default params
  genome_uuid           = ""
  dataset_uuid          = ""
  organism_group_type   = ""
  division              = ""
  dataset_type          = "gene_search"
  species               = ""
  antispecies           = ""
  dataset_status        = "Submitted"
  update_dataset_status = ""
  batch_size            = "50"
  page                  = ""
  columns               = ""
  output_json           = "genome_info.json"
  //metadata host default values
  metadata_db_uri       = "mysql://localhost:3306/ensembl_genome_metadata"
  //core host details
  core_host_uri         = "mysql://localhost:3306/"
  //load index json files solr
  load_solr_index       = 0
  solr_hosts            = ""
  solr_collection       = ""
}

workDir    = "${NOBACKUP_DIR}/nextflow/genesearch/work"
publishDir  = params.solr_data_location


profiles {

  lsf {
    process {
      executor = "lsf"
      scratch  = "$NOBACKUP_DIR/scratch"
      log      = "${workDir}/gene_search.log"
      queueSize = 100
      errorStrategy  = 'finish'
    }         		
  }

  slurm {
    process {
      executor = "slurm"
      scratch  = "$NOBACKUP_DIR/scratch"
      log      = "${params.thoas_data_location}/logs/release_$ENS_VERSION/production.log"
    }
  }
  
  local { 	
  }

  k8s {
    process.executor = 'k8s'
    container = 'busybox:latest'
    containerOptions = '--volume /data/db:/db'
    storageClaimName = 'vol-claim-nextflow-production'
    storageMountPath = '/workflow'
    storageSubPath = '/production'
    namespace = "ensprod-thoas"
    env.KUBECONFIG = $params.kubeconfig
  }

}
