includeConfig './base.config'

//global setting vars
workDir = "$NOBACKUP_DIR/nextflow/work/release_$ENS_VERSION/"
nextflow.enable.dsl=2
params.pipeline_dir = "$BASE_DIR/$USER/ensembl-hive/scripts/"
params.help = false

profiles {

	lsf {
               params {

                  species      = "''"  
                  division     = "''"
                  antispecies  = "''"
                  run_all      = 1
                  meta_filters = "''"
                  dbname       = "''" 
                  publishDir   = "$NOBACKUP_DIR/nextflow/outputs/$USER/"

                }

		process.executor = 'lsf'
		process.scratch = "$NOBACKUP_DIR/nextflow/scratch"
		process.log = "$NOBACKUP_DIR/nextflow/logs/release_$ENS_VERSION/production.log"

        } 
	local {
		process.executor = 'local'
                process.log = '$NOBACKUP_DIR/nextflow/logs/local.log' 
        }

        k8s {
	        process.executor = 'k8s'
	        container = 'busybox:latest'
	        containerOptions = '--volume /data/db:/db'
	        storageClaimName = 'vol-claim-nexflow-production'
	        storageMountPath = '/workflow'
	        storageSubPath = '/production'
	        namespace = "ensprod-nexflow"
	        env.KUBECONFIG = param.kubeconfig
	}

}
