includeConfig './base.config'

//global setting vars
workDir = '/hps/nobackup/flicek/ensembl/production/nextflow/work'


profiles {

	lsf {

		process.executor = 'lsf'
		process.scratch = '/hps/nobackup/flicek/ensembl/production/nextflow/scratch'
		process.log = '/hps/nobackup/flicek/ensembl/production/nextflow/logs/production.log'

        } 
	local {
		process.executor = 'local'
                process.log = '/hps/nobackup/flicek/ensembl/production/nextflow/logs/local.log' 
        }

        k8s {
	        process.executor = 'k8s'
	        container = 'busybox:latest'
	        containerOptions = '--volume /data/db:/db'
	        storageClaimName = 'vol-claim-nexflow-production'
	        storageMountPath = '/workflow'
	        storageSubPath = '/production'
	        namespace = "ensprod-nexflow"
	        env.KUBECONFIG = param.kubeconfig
	}

}
