includeConfig "production.config"

//global variables for thoas
manifest {
  name            = 'ensembl-production/nextflow/workflow'  
  author          = """vinay kaikala"""
  homePage        = 'https://github.com/Ensembl/ensembl-production'
  description     = """THOAS LOADING PIPELINE"""
  mainScript      = 'thoasloading.nf'
  nextflowVersion = '>=22.04.5'
  version         = '1.0.1'
  doi             = ''
}

params {
  debug                 = true
  release               = "${ENS_VERSION}"
  thoas_code_location   = "${BASE_DIR}/ensembl-core-mongodb-loading"   
  thoas_data_location   = "${NOBACKUP_DIR}/thoas"
  base_data_path        = "${NOBACKUP_DIR}/ensembl_dumps/search/"
  grch37_data_path      = "${NOBACKUP_DIR}/ensembl_dumps/search/vertebrates/json/homo_sapiens_37/"
  classifier_path       = "${thoas_code_location}/metadata_documents/metadata_classifiers/"
  chr_checksums_path    = "/hps/nobackup/flicek/ensembl/apps/shared/thoas/chromosome_checksums/"
  xref_lod_mapping_file = "${thoas_code_location}/metadata_documents/xref_LOD_mapping.json"
  log_faulty_urls       = false
  // genome factory default params
  genome_uuid           = ""
  dataset_uuid          = ""
  organism_group_type   = ""
  division              = ""
  dataset_type          = "thoas_load"
  species               = ""
  antispecies           = ""
  dataset_status        = "Submitted"
  update_dataset_status = ""
  batch_size            = "50"
  page                  = ""
  columns               = ""
  output_json           = "genome_info.json"
  //metadata host default values
  metadata_db_host      = "localhost"
  metadata_db_port      = "3306"
  metadata_db_user      = "ensro"
  metadata_db_dbname    = "ensembl_genome_metadata"
  taxonomy_db_dbname    = "ncbi_taxonomy"
  metadata_db_password  = ""
  //refget host default values 
  refget_db_host        = ""
  refget_db_port        = ""
  refget_db_dbname      = "ensgaarefget2pro"   
  refget_db_user        = ""
  refget_db_password    = ""
  //thoas mongodb default values 
  mongo_db_host         = ""
  mongo_db_port         = "27017"
  mongo_db_user         = "mdb-ens-cdl-rw"
  mongo_db_password     = ""
  mongo_db_dbname       = "release_${ENS_VERSION}_default"
  mongo_db_schema       =  "./common/schema.sdl"
  mongo_db_shard_uri    = ""
  //core database details 
  core_db_host          = ""
  core_db_port          = ""
  core_db_user          = "ensro"
  //thoas config file with all the species and db details 
  thoas_config_filename = "load-${ENS_VERSION}.conf"  

}

workDir    = "${params.thoas_data_location}/work"
publishDir  = params.thoas_data_location


profiles {

  lsf {
    process {
      executor = "lsf"
      scratch  = "$NOBACKUP_DIR/scratch"
      log      = "${params.thoas_data_location}/logs/release_$ENS_VERSION/production.log" 
      queueSize = 100
      errorStrategy  = 'ignore'
    }         		
  }

  slurm {
    process {
      executor = "slurm"
      scratch  = "$NOBACKUP_DIR/scratch"
      log      = "${params.thoas_data_location}/logs/release_$ENS_VERSION/production.log"
    }
  }
  
  local { 	
  }

  k8s {
    process.executor = 'k8s'
    container = 'busybox:latest'
    containerOptions = '--volume /data/db:/db'
    storageClaimName = 'vol-claim-nexflow-production'
    storageMountPath = '/workflow'
    storageSubPath = '/production'
    namespace = "ensprod-thoas"
    env.KUBECONFIG = $params.kubeconfig
  }

}
