includeConfig "${BASE_CONFIG_DIR}/prod.config"

//global variables for datafile

manifest {
    name            = 'ensembl-production/nextflow/workflow'
    author          = """vinay kaikala"""
    homePage        = 'https://github.com/Ensembl/ensembl-production'
    description     = """THOAS LOADING PIPELINE"""
    mainScript      = 'datafile.nf'
    nextflowVersion = '>=22.04.5'
    version         = '1.0.0'
    doi             = ''
}

params {
    debug                 = false
    release               = "${ENS_VERSION}"
    thoas_code_location   = "${BASE_DIR}/ensembl-core-mongodb-loading"   
    thoas_data_location   = "${NOBACKUP_DIR}/thoas"
    base_data_path        = "${NOBACKUP_DIR}/ensMVP/release-${ENS_VERSION}/search_dumps/"
    grch37_data_path      = "${NOBACKUP_DIR}/ensMVP/release-${ENS_VERSION}/search_dumps/vertebrates/json/
    classifier_path       = "${thoas_code_location}/metadata_documents/metadata_classifiers/"
    chr_checksums_path    = "/hps/nobackup/flicek/ensembl/apps/shared/thoas/chromosome_checksums/"
    xref_lod_mapping_file = "${thoas_code_location}/metadata_documents/xref_LOD_mapping.json"
    log_faulty_urls       = false
    genome_uuid           = "" 
    species_name          = ""
    organism_group        = ""
    metadata_uri          = "${METADATA_URI}/ensembl_genome_metadata"
    taxonomy_uri          = "${METADATA_URI}/ncbi_taxonomy"
}

workDir    = "${params.thoas_data_location}/work"
publishDir  = params.thoas_data_location


profiles {

	lsf {
	      process {
			executor = "lsf"
            scratch  = "$NOBACKUP_DIR/scratch"
            log      = "${params.thoas_data_location}/logs/release_$ENS_VERSION/production.log" 
	      }         		
        }
        slurm {
              process {
                        executor = "slurm"
                        scratch  = "$NOBACKUP_DIR/scratch"
                        log      = "${params.thoas_data_location}/logs/release_$ENS_VERSION/production.log"
              }

        }
 

	local { 	

        }

    k8s {
	      process.executor = 'k8s'
	      container = 'busybox:latest'
	      containerOptions = '--volume /data/db:/db'
	      storageClaimName = 'vol-claim-nexflow-production'
	      storageMountPath = '/workflow'
	      storageSubPath = '/production'
	      namespace = "ensprod-nexflow"
	      env.KUBECONFIG = $params.kubeconfig
	}

}
